.btn {
    padding: 12px 30px;
    border-radius: 0.625rem;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    /* animation */
    transition:
        background-color 0.3s ease,
        transform 0.3s ease;

    will-change: transform;
}

.btn:hover {
    transform: scale(1.07);
}

/* Variants */
.btn-primary {
    background: var(--primary-purple);
    color: white;
}

.btn-primary:hover {
    background: #5638ee;
    /* Keeping specific hover shade for now, or could use filter */
}

.btn-secondary {
    /* background: #f2f2f2; */
    background-color: transparent;
    color: var(--primary-purple);
    border: 1px solid var(--primary-purple);
}

.btn-secondary:hover {
    opacity: 0.9;
}

.btn-dark {
    background: #000;
    color: #fff;
}

.btn-dark:hover {
    background: #1a1a1a;
}

.btn-create-vid {
    color: #6E006C;
    border: none;
    background-color: #fff;
}

.btn-create-vid:hover {
    color: #7d047b;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    /* background-color: aqua; */
}