.btn {
    padding: 14px 40px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    /* animation */
    transition:
        background-color 0.25s ease,
        transform 0.2s ease;

    will-change: transform;
}

.btn:hover {
    transform: scale(1.05);
}

/* Variants */
.btn-primary {
    background: #6b4eff;
    color: white;
}

.btn-primary:hover {
    background: #5638ee;
}

.btn-secondary {
    /* background: #f2f2f2; */
    background-color: transparent;
    color: #6b4eff;
    border: 1px solid #6b4eff;
}

.btn-secondary:hover {
    opacity: 0.9;
}

.btn-dark {
    background: #000;
    color: #fff;
}

.btn-dark:hover {
    background: #1a1a1a;
}