.features-outer {
    width: 100%;
    height: auto;
    padding-top: 50px;
}

.feature-one {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.features-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.features-vid-content {
    position: relative;
    /* left: 8%; */
    /* background-color: aqua; */
    max-width: 62rem;
    width: 100%;
    z-index: 12;
    margin: 6rem 8rem;
    color: white;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 30px;
    /* align-items: center; */
}

.features-vid-content h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.features-vid-content p {
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 700;
}

/* optional overlay */
.features-bg::after {
    content: "";
    position: absolute;
    inset: 0;
    /* background: rgba(0, 0, 0, 0.45); */
    z-index: 1;
}

.feature-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 70px 6rem;
    background-color: #EAEAFA;
    gap: 70px;

}

.feature-section.two {
    background-color: #fff;
}

.features-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px 16px;
    max-width: 520px;
    text-align: left;
}

.features-text a {
    color: #4D43DE;
}

.features-text a svg {
    height: 20px;
    width: 20px;
    margin: 0px;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    margin-bottom: .2rem;
    margin-left: .15rem;
}

.features-text h2 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: normal;
    color: #313242;
    font-weight: 700;
}

.features-text p {
    font-size: 20px;
    color: #313242;
    line-height: 30px;
}

.features-img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 560px;
    min-width: 280px;
}

.features-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.feature-section.three {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 20px;
}

.features-text.three {
    max-width: 100%;
    text-align: center;
}

/* Feature Cards Container */
.features-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-top: 8px;
    flex-wrap: wrap;
}

/* Individual Card */
.feature-card {
    background-color: #fff;
    border-radius: 0.75rem;
    padding: 16px;
    width: 400px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.feature-card:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    transform: translateY(-1px) scale(1.02);
    opacity: 0.8;
    transition: all 0.2s ease;
}

.icon-and-card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

/* Card Heading */
.feature-card h3 {
    font-size: 20px;
    font-weight: normal;
    color: #313242;
}

/* Card Description */
.feature-card p {
    font-size: 0.875rem;
    line-height: 21px;
    color: #151435;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-grow: 1;
    opacity: 0.8;
    /* Pushes the link to the bottom */
}

/* Card Links */
.feature-card a {
    color: #4D43DE;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.feature-card a:hover {
    text-decoration: underline;
}

.feature-card .arrow-icon {
    width: 16px;
    height: 16px;
    transition: transform 0.2s;
    margin: 0;
    /* Resetting default svg margin if inherited */
}

.feature-card a:hover .arrow-icon {
    transform: translateX(3px);
}

@media screen and (max-width: 700px) {
    .feature-section {
        flex-direction: column;
        padding: 50px 30px;
    }

    .features-text {
        padding: 0px;
        max-width: 600px;
    }

    .feature-card {
        max-width: 410px;
        width: 100%;
    }
}