.header-outer {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.header-left {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.logo:hover {
    cursor: pointer;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.nav-links ul li {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.arrow-down {
    height: 18px;
    width: 18px;
    transition: transform 0.15s ease;
}

/* ONLY zoom arrow on hover */
.nav-links ul li a:hover .arrow-down {
    transform: scale(1.25);
}


.nav-links ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: .75rem;
    font-size: 1.125rem;
    font-weight: 400;
    transition: color .1s;
    align-items: center;
    color: #545472;
}

.nav-links ul li a:hover {
    color: #4D43DE;
}

.header-right {
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 1365px) {
    .header-outer {
        justify-content: space-between;
        padding: 10px 50px;
    }

    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .header-outer {
        justify-content: space-between;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 515px) {
    .header-right Button {
        display: none;
    }
}